@import "../../assets/mixins";
@import "../../assets/variables";

.about {
    background-color: #252525;
    background-image: linear-gradient(0deg, #252525, #BFD20016);
    color: #fff;
    padding-top: 4rem;
    padding-bottom: 4rem;

    h2 {
        font-weight: 100;
        color: $primary_green;
        text-transform: uppercase;
        font-size: 1.125rem;
    }

    h1 {
        font-weight: 800;
        text-transform: uppercase;
        font-size: 1.625rem;
    }

    p {
        margin-top: 3.5rem;
        text-align: justify;
    }
}

.about_align {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}