@import "../../assets/variables";
@import "../../assets/mixins";

.banner {
  background-image: url(/public/banner_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 416px;
  margin-top: -4rem;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;

  h1 {
    margin: 0rem;
    color: #fff;
    font-size: 3.875rem;
    text-transform: uppercase;
    font-weight: 800;
    width: 36rem;

    span {
      color: $primary_lime;
    }

    @media (max-width: 975px) {
      font-size: 3rem;
    }

    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }

  @media (max-width: 975px) {
    justify-content: center;
    text-align: center;
    padding: 0rem;
  }
}
