@import '../../assets/variables';

.button {
    background-color: $primary_orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: 0rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    height: fit-content;
    cursor: pointer;
}