@import "../../assets/variables";
@import "../../assets/mixins";

.navbar {
  padding-left: 3rem;
  padding-right: 3rem;
  @include flex-center;
  height: 4rem;
  color: #fff;

  .navbar_title {
    @include flex-center;

    h4 {
      width: fit-content;
      font-size: 1.125rem;
      padding: 0rem 1.625rem 0rem 1rem;
      border-right: solid #252525 1px;
      cursor: pointer;
    }

    ul {
      @include flex-center;
      list-style: none;
      gap: 1rem;
      font-size: 1rem;
      cursor: pointer;

      li {
        &:hover {
          text-decoration: underline;
        }
      }
      
      @media (max-width: 975px) {
        display: none;
      }
    }
  }
}
