@mixin flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

@mixin card-figure($bg-color, $svg-color) {
  height: 4rem;
  width: 4rem;
  background-color: $bg-color;
  border-radius: 100%;
  @include flex-center;
  justify-content: center;

  svg {
    height: 2rem;
    color: $svg-color;
  }
}
