$primary_lime: #BFD200;
$primary_orange: #DD5D27;
$primary_yellow: #FFFF3F;
$primary_green: #55A630;
$secondary_lime: #FBFFD7;
$secondary_orange: #FFF1EB;
$secondary_green: #E5FFDA;
$text-color: #252525;
$secondary_text-color: #5C5C5C;