@import url("https://fonts.googleapis.com/css2?family=Sora:wght@400;700;800&display=swap");
@import "./assets/variables";
@import "./assets/mixins";

html,
body {
  font-family: "Sora", sans-serif;
  color: $text-color;
  margin: 0rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
